<div class="container">
  <h3>Employee Details: {{employees.length}}</h3>
  <hr>

  <div class="main-container">
    <div class="row centerText">

      <div class="col-md-3 form-group">
        <label for="department">Department : </label>
        <select class="selectPosition" id="searchDept" name="department" (change)="selectDept()">
          <!-- <option value="">{{this.filteredDepts}}</option> -->
          <option value="All">All</option>
          <option value="Computer">Computer</option>
          <option value="Physics">Physics</option>
          <option value="Chemistry">Chemistry</option>
        </select>
      </div>

      <div class="col-md-6 form-group">
        <form class="form-inline formMargin" id="searchForm">
          <label for="nameandemail"></label>
          <input type="text" name="nameandemail" placeholder="Name/Email" [(ngModel)]="searchText"
            (input)="filterEmployees()">
          <div class="btnPlace"><button type="button" class="searchbtn">Search</button>
            <button type="button" class="resetbtn" (click)="resetInputSearch()">Reset and Reload Data</button>
          </div>
        </form>
      </div>

      <div class=" col-md-3 form-group">
        <label for="sortby">Sort : </label>
        <select class="selectPosition" name="sortby" (change)="sortBy()">
          <option value="" disabled selected hidden>Sort By..</option>
          <option value="name">Name (a-z)</option>
          <option value="name">Name (z-a)</option>
          <option value="age">Age</option>
          <option value="email">Email</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        Filter By : {{searchText | nullOrEmpty :'N/A'}}
      </div>
    </div>

    <hr>

    <div class="table-content">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th>Emp Name</th>
            <th>Age</th>
            <th>Email Address</th>
            <th>Departments</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngIf="employees && employees.length; else noEmpData" (mousemove)="mouseEnterEvent()"></tr>
          <tr *ngFor="let employee of employees; let i = index">
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.email}}</td>
            <td><a data-toggle="tooltip" title="{{employee.departments}}">{{employee.departments.length}}</a></td>
          </tr>
          <ng-template #noEmpData>
            <div class="errorMsg"> NO RECORDS FOUND</div>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>